@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c4d73;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a30026;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e94f37;
}
