@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: rgb(246, 247, 235);
    --color-dark: rgb(57, 62, 65);
    --color-primary: rgb(0, 86, 63);
    --color-secondary: rgb(156, 124, 56);
    --color-tertiary: rgb(163, 0, 38);
    --color-gray: rgb(238, 239, 239);
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-tertiary);
}
