@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: rgb(246, 247, 235);
    --color-dark: rgb(57, 62, 65);
    --color-primary: rgb(0, 86, 63);
    --color-secondary: rgb(156, 124, 56);
    --color-tertiary: rgb(163, 0, 38);
    --color-gray: rgb(238, 239, 239);
    --color-lgreen: rgb(159, 233, 159);
    --color-lred: rgb(235, 115, 115);
    --color-lorange: rgb(255, 174, 130);
    --color-lyellow: rgb(242, 255, 169);
  }
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-tertiary);
}

/* HIGHLIGHTING */
::selection {
  /* Change highlight background color to black */
  background: var(--color-primary);
  /* Change highlight text color to red */
  color: var(--color-secondary);
}

/* LINKS */
a {
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-tertiary);
}
